:root {
  --brand-color: #2196f3;
  --brand-background: #2f303a;
  --buttom-color: #f5f4fa;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.91;
}
.contact {
  font-size: 400;
  color: #757575;
}
.contact:hover {
  color: var(--brand-color);
}

.button {
  cursor: pointer;
}

.bw1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: var(--button-color);
  background: var(--brand-color);
  line-height: 1.88;
}
.s1 {
  color: white;
  text-align: center;
  background: var(--brand-background);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
body {
  font-family: Roboto;
  color: #212121;
  font-size: 16px;
}
.lorem {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.63;
  text-align: center;
}
.p1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.name {
  font-weight: 500;
  line-height: 1.19;
}

.p2 {
  font-weight: 400;
  line-height: 0.53;
}
.example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
}
.p3 {
  font-weight: 400;
  line-height: 1.88;
}

.container {
  display: flex;
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.block {
  display: flex;
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;
  background: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.bw2 {
  font-weight: 500;
  background: var(--button-color);
  line-height: 1.62;
}
.bw2:hover {
  background-color: var(--brand-color);
}
footer {
  background: var(--brand-background);
  color: #f5f4fa;
  line-height: 1.71;
  font-size: 400;
}
.back {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--butto-color);
}
.back:hover {
  color: var(--brand-color);
}
