:root {
  --brand-color: #2196f3;
  --brand-background: #2f303a;
  --text-color: #f5f4fa;
  --paragraph-color: #757575;
}

body {
  font-family: Roboto;
  color: #212121;
  font-size: 16px;
}
header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.container-header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
  text-decoration: none;
}
.blacktext {
  color: #212121;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: row;
}
ul {
  display: flex;
}

.container-example-list {
  display: flex;
  flex-wrap: wrap;
}
.container-link-page {
  display: flex;
}
.container-link-contact {
  display: flex;
}
.link {
  text-decoration: none;
}
.block-top {
  display: flex;
}
.section {
  padding-left: 94px;
  padding-bottom: 94px;
}
.page {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  color: var(--paragraph-color);
}
.page:hover {
  color: var(--brand-color);
}
.contact:hover {
  color: var(--brand-color);
}
.container-menu {
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
}
.button-order {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  background: var(--brand-color);
  line-height: 1.876;
}
p {
  color: var(--paragraph-color);
}
.title-section {
  color: var(--text-color);
  background: var(--brand-background);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}
.container-title {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.lorem {
  font-size: 14px;
  font-weight: 700;
  line-height: 0.88;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.lorem-text {
  font-size: 14px;
  line-height: 1.71;
}
.team-list_title {
  font-weight: 500;
  line-height: 1.19;
  font-size: 16px;
}
.container-team-list {
  display: flex;
}
.team-color {
  background-color: var(--text-color);
}
.team-list_subtitle {
  line-height: 1.19;
  font-size: 16px;
}
.example-list {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.example-list_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 0.5;
}
.example-list_subtitle {
  line-height: 1.88;
  font-size: 16px;
}

.button-page {
  font-weight: 500;
  background: var(--text-color);
  line-height: 1.626;
  font-size: 16px;
}
.button-page:hover {
  color: #ffffff;
  background-color: var(--brand-color);
}

footer {
  background: var(--brand-background);
  color: var(--text-color);
  line-height: 1.71;
  font-size: 14px;
}
.whitetext {
  color: var(--text-color);
}
.back {
  line-height: 1.71;
  color: #ffffff;
  opacity: 60%;
}
.back:hover {
  color: var(--brand-color);
}
